<form action="/wordList" method="post">
  <label for="inputDefine">Add a new definition for $word:</label>
  <input id="inputDefine" name="inputDefine" type="text">
  <button type="submit" class="btn btn-info">Add New Word</button>
</form>
