<ol>
#foreach ($word in $fullWords)
  <li class="clickables" href="/defineWord$myWordName">$word.getWordName()</li>
  #if ($wordDefinitions)
  <ul>
    #foreach ($define in $wordDefintions)
    <li>$define.getDefinition()</li>
  </ul>
  #end
#end
<ol>

<p></p>
<p></p>
<a href="/addWord" class="clickToView">Add A Word</a>
