<strong>Click on the words below to add more definitions</strong>

<ol>
  #foreach ($word in $fullWords)
    <li>$word.getWordName()</li>
    #foreach ($definition in $word.getmDefinitions())
      <em>$definition.getDefinition()</em>
    #end
  #end
</ol>

<p></p>
<a href="/addWord" class="clickToView">Add A Word</a>
<p></p>
<a href="/" class="clickToView">Return To HomePage</a>
